# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\工作空间\程序\air_pollution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
